# Intro to Data Science - Homework 3 - Fall 2024 - Wilmington College
## Due Date: March 04, 2024, 11:30 AM (Before the Start of Our Class)

Dear Students,

Welcome to Homework 3 for the Intro to Data Science course.

**Submission Instructions:**
Please complete the homework and commit your changes to GitHub. 

Last part of each problem dedicated to this question: "How long did it take you to solve this question? Was it easy, medium, or hard for you? Feel free to share any comments you have."

**Alternative Submission:**
If, for any reason, you are unable to use GitHub, you can submit your work via email.

Remember, timely completion of assignments is crucial for your understanding of the course material. If you face any challenges, don't hesitate to reach out.

## Top World's Companies Dataset
You can download the dataset from Kaggle via [this link](https://www.kaggle.com/datasets/bhavikjikadara/top-worlds-companies/data). In case of any issues, I have also provided the dataset on my GitHub under the HW folder named "companies.csv".

Here is the explanation from kaggle.

This dataset contains information on 10,000 different companies sourced from Ambition Box, a platform that provides insights into company reviews, ratings, salaries, interviews, and more. The dataset includes the following columns:

- **Company_name**: The name of the company listed on the Ambition Box.
- **Description**: A brief description of the company, often sourced from its profile or website.
- **Ratings**: The overall rating of the company as provided by users on Ambition Box.
- **Highly_rated_for**: Areas or aspects of the company that are highly rated by users.
- **Critically_rated_for**: Areas or aspects of the company that are critically rated by users.
- **Total_reviews**: The total number of reviews submitted for the company on Ambition Box.
- **Avg_salary**: The average salary reported for the company, if available.
- **Interviews_taken**: The number of interviews conducted by the company, if available.
- **Total_jobs_available**: The total number of job positions available within the company.
- **Total_benefits**: Information on benefits offered by the company, if provided.

In [2]:
import pandas as pd
import numpy as np
import random
import re

/tmp/ipykernel_1470/2753160275.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

1. **Data Loading and Exploration:**

    - a. Write a Python script to load the dataset into a pandas DataFrame and display the first 5 rows.
    - b. Write a Python function to identify and count the number of missing values in each column of the dataset. Then, calculate the percentage of missing values for each column.
    - c. Write a Python script to rename the columns of the dataset as follows:
        - Rename the column "Company_name" to "Company_Name"
        - Rename the column "Avg_salary" to "Average_Salary"
        - Rename the column "Total_reviews" to "Total_Reviews"
        - Rename the column "Total_jobs_available" to "Total_Jobs_Available"
        - Rename the column "Total_benefits" to "Total_Benefits"
        - Ensure that the changes are reflected in the DataFrame, and display the first 5 rows to confirm the column name changes.

In [3]:
#a. Write a Python script to load the dataset into a pandas DataFrame and display the first 5 rows.
df1 = pd.read_csv('companies.csv')
df1.head(5)

,Company_name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_reviews,Avg_salary,Interviews_taken,Total_jobs_available,Total_benefits
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73.1k,856.9k,6.1k,847,11.5k
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46.4k,584.6k,4.3k,9.9k,7.1k
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41.7k,561.5k,3.6k,460,5.8k
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39.2k,427.4k,3.7k,405,5k
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34k,414.4k,2.8k,719,4k

In [4]:
#b. Write a Python function to identify and count the number of missing values in each column of the dataset. 
#Then, calculate the percentage of missing values for each column.
def count_missing_values(dataframe):
    missing_values_count = dataframe.isnull().sum()
    return missing_values_count
missing_values_count = count_missing_values(df1)
missing_values_count

Company_name               0
Description                0
Ratings                    0
Highly_rated_for          92
Critically_rated_for    7193
Total_reviews              0
Avg_salary                 0
Interviews_taken           0
Total_jobs_available       0
Total_benefits             0
dtype: int64

In [5]:
total_count= df1.count() + missing_values_count
percent_missing= (missing_values_count/total_count)*100
percent_missing

Company_name             0.00
Description              0.00
Ratings                  0.00
Highly_rated_for         0.92
Critically_rated_for    71.93
Total_reviews            0.00
Avg_salary               0.00
Interviews_taken         0.00
Total_jobs_available     0.00
Total_benefits           0.00
dtype: float64

In [6]:
#c. Write a Python script to rename the columns of the dataset.
column_names = {
    "Company_name": "Company_Name",
    "Avg_salary": "Average_Salary",
    "Total_reviews": "Total_Reviews",
    "Total_jobs_available": "Total_Jobs_Available",
    "Total_benefits": "Total_Benefits"}

df1.rename(columns=column_names, inplace=True)
df1.head()

,Company_Name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_Reviews,Average_Salary,Interviews_taken,Total_Jobs_Available,Total_Benefits
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73.1k,856.9k,6.1k,847,11.5k
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46.4k,584.6k,4.3k,9.9k,7.1k
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41.7k,561.5k,3.6k,460,5.8k
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39.2k,427.4k,3.7k,405,5k
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34k,414.4k,2.8k,719,4k

d. This question took me about 25 minutes to complete it was a medium dificulty. Part b was the most challenging for me.

2. **Data Analysis and Statistics:**
    - a. Calculate the average rating of all the companies in the dataset.
    - b. Find the company with the highest number of total reviews.
    - c. Determine the percentage of companies that have reported average salaries.
    - d. Calculate the median number of interviews taken by the companies.
    - e. Identify the company with the highest number of job positions available.
    - f. Find the top 5 areas highly rated by users across all companies.
    - g. Calculate the percentage of companies that offer total benefits.
    - h. Using the 'Avg_salary' column, implement discretization and binning into three categories: 'Low', 'Medium', and 'High'. Calculate the percentage of companies falling into each category.
    - i. Detect outliers in the "Avg_salary" column and remove them from the dataset. An outlier is defined as a value that is either below Q1 - 1.5 * IQR or above Q3 + 1.5 * IQR, where Q1 is the first quartile, Q3 is the third quartile, and IQR is the interquartile range. After detecting outliers, implement a filtering mechanism to remove them from the dataset and return a cleaned DataFrame.

In [7]:
#a. Calculate the average rating of all the companies in the dataset.
df1["Ratings"].mean()

3.89471

In [8]:
#b. Find the company with the highest number of total reviews.
df1.loc[df1["Total_Reviews"].idxmax(), "Company_Name"]

'Aircel'

In [9]:
#c. Determine the percentage of companies that have reported average salaries.
companies_with_salaries= df1['Average_Salary'].count()
total_companies= df1['Company_Name'].count()
percentage_with_salaries = (companies_with_salaries / total_companies) * 100
print(f"{percentage_with_salaries}%")

100.0%

In [42]:
#d. Calculate the median number of interviews taken by the companies.
# Function to convert 'k' to 1000 and handle values without 'k'
def convert_to_number(value):
    try:
        if 'k' in value:
            return float(value.replace('k', '')) * 1000
        else:
            return float(value)
    except ValueError:
        return np.nan  # Return NaN for non-convertible values

# Apply the function to the 'Interviews_taken' column
df1['Interviews_taken'] = df1['Interviews_taken'].apply(convert_to_number)
median_interviews= df1['Interviews_taken'].median()

TypeError: argument of type 'float' is not iterable

In [15]:
#e. Identify the company with the highest number of job positions available.
df1['Total_Jobs_Available'] = df1['Total_Jobs_Available'].apply(convert_to_number)
df1.loc[df1["Total_Jobs_Available"].idxmax(), "Company_Name"]

'Accenture'

In [12]:
#f. Find the top 5 areas highly rated by users across all companies.
top= df1.sort_values("Ratings", ascending=False)
top.head()

,Company_Name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_Reviews,Average_Salary,Interviews_taken,Total_Jobs_Available,Total_Benefits
8749,Teqtous Inc,IT Services & Consulting | 11-50 Employees | B...,5.0,"Job Security, Work Life Balance, Work Satisfac...",NaN,83,9,NaN,--,--
4340,Matrimonialsindia,Internet | 1k-5k Employees | 27 years old | Ne...,5.0,"Promotions / Appraisal, Skill Development / Le...",NaN,171,114,NaN,4,24
1400,Lavender Technology,Bangalore / Bengaluru +4 more,5.0,"Company Culture, Promotions / Appraisal, Skill...",NaN,508,2,2.0,--,15
4916,Deejos Engineers & Contractors,Architecture & Interior Design | 16 years old ...,5.0,"Company Culture, Work Life Balance, Promotions...",NaN,151,28,1.0,1,2
1759,InternEzy,EdTech | 51-200 Employees | Erode +5 more,5.0,"Work Life Balance, Work Satisfaction, Skill De...",NaN,414,3,NaN,--,99

In [19]:
#g. Calculate the percentage of companies that offer total benefits.
df1['Total_Benefits'] = df1['Total_Benefits'].apply(convert_to_number)
value_counts= df1['Total_Benefits'].count()
percentage_with_benefits = (value_counts / total_companies) * 100
print(f"{percentage_with_salaries}%")

TypeError: argument of type 'float' is not iterable

In [23]:
#h. Using the 'Avg_salary' column, implement discretization and binning into three categories: 'Low', 'Medium', and 'High'. 
#Calculate the percentage of companies falling into each category.
avg_salary= df1['Average_Salary'] = df1['Average_Salary'].apply(convert_to_number)
group_names = ['Low', 'Medium', 'High']
avg_salary_bins= pd.cut(df1['Average_Salary'], 3, lables= group_names)
pd.value_counts(avg_salary_bins)

TypeError: argument of type 'float' is not iterable

In [26]:
#i. Detect outliers in the "Avg_salary" column and remove them from the dataset. 
#An outlier is defined as a value that is either below Q1 - 1.5 * IQR or above Q3 + 1.5 * IQR, where Q1 is the first quartile, 
#Q3 is the third quartile, and IQR is the interquartile range. After detecting outliers, implement a filtering mechanism to
#remove them from the dataset and return a cleaned DataFrame.
Q1 = df1['Average_Salary'].quantile(0.25)
Q3 = df1['Average_Salary'].quantile(0.75)
IQR = Q3 - Q1
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR
cleaned_df = df1[(df1['Average_Salary'] >= lower_bound) & (df1['Average_Salary'] <= upper_bound)]
cleaned_df

,Company_Name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_Reviews,Average_Salary,Interviews_taken,Total_Jobs_Available,Total_Benefits
159,Kogta Financial India Limited,NBFC | 1k-5k Employees | Public | 28 years old...,4.8,"Company Culture, Work Life Balance, Work Satis...",NaN,3k,1300.0,67.0,13.0,51.0
213,Marpu Foundation,Non-Profit | 51-200 Employees | 8 years old | ...,4.9,"Company Culture, Work Life Balance, Work Satis...",NaN,2.5k,13.0,24.0,NaN,84.0
227,Paras Hospital,Healthcare | 1k-5k Employees | 18 years old | ...,4.6,"Skill Development / Learning, Company Culture,...",NaN,2.4k,2600.0,56.0,46.0,154.0
228,Wipro Consumer Care & Lighting,FMCG | 1k-5k Employees | 79 years old | Bangal...,3.9,Job Security,Promotions / Appraisal,2.4k,2900.0,41.0,30.0,286.0
393,Kalyan Jewellers,Jewellery | 5k-10k Employees | Fortune India 5...,4.7,"Skill Development / Learning, Company Culture,...",NaN,1.6k,1300.0,37.0,14.0,59.0
...,...,...,...,...,...,...,...,...,...,...
9995,Techila Global Services,IT Services & Consulting | 501-1k Employees | ...,3.7,"Work Life Balance, Salary & Benefits, Company ...",NaN,72,454.0,2.0,26.0,21.0
9996,RxLogix Corporation,Pharma | 201-500 Employees | 14 years old | Pr...,2.6,"Work Life Balance, Work Satisfaction, Company ...",NaN,72,799.0,15.0,9.0,13.0
9997,Avians Innovations Technology,Building Material | 51-200 Employees | 17 year...,3.7,"Promotions / Appraisal, Work Satisfaction, Sal...",NaN,72,489.0,3.0,11.0,8.0
9998,ACPL Systems,Law Enforcement & Security | 51-200 Employees ...,3.3,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN,72,520.0,4.0,1.0,10.0
9999,Beroe Inc,Management Consulting | 201-500 Employees | 19...,4.5,"Work Life Balance, Job Security, Company Culture",NaN,72,585.0,7.0,5.0,14.0

These questions were very dificult, being unable to clean k properly. I spent a long time working on question 2.

3. **Data Cleaning and Manipulation:**
    - a. Write a function to clean the "Description" column by removing special characters and converting text to lowercase.
    - b. Write a function called `filter_missing_salary_data` to filter out rows where the average salary information is missing.
    - c. Write a function called `handle_missing_data` to handle missing data by replacing values and removing duplicates. The function should:
        - Replace missing values in the "Total_benefits" column with the median value of the column.
        - Remove any duplicate rows from the dataset based on the "Company_name" column.
        - Replace any -- (NA) values in the "Highly_rated_for" and "Critically_rated_for" columns with the string "Not specified".
    - d. Write a Python function to create indicator variables representing whether a company offers any benefits or not.

In [ ]:
#a. Write a function to clean the "Description" column by removing special characters and converting text to lowercase.
def clean_description(df, column_name):
    df1['Description'] = df1['Description'].str.replace(r'[^a-zA-Z0-9\s]', '')
    df1['Description'] = df1['Description'].str.lower()
    return df
cleaned_df1 = clean_description(df1, 'Description')
cleaned_df1

,Company_Name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_Reviews,Average_Salary,Interviews_taken,Total_Jobs_Available,Total_Benefits
0,TCS,it services & consulting | 1 lakh+ employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73.1k,856.9k,6.1k,847,11.5k
1,Accenture,it services & consulting | 1 lakh+ employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46.4k,584.6k,4.3k,9.9k,7.1k
2,Cognizant,it services & consulting | 1 lakh+ employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41.7k,561.5k,3.6k,460,5.8k
3,Wipro,it services & consulting | 1 lakh+ employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39.2k,427.4k,3.7k,405,5k
4,Capgemini,it services & consulting | 1 lakh+ employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34k,414.4k,2.8k,719,4k
...,...,...,...,...,...,...,...,...,...,...
9995,Techila Global Services,it services & consulting | 501-1k employees | ...,3.7,"Work Life Balance, Salary & Benefits, Company ...",NaN,72,454,2,26,21
9996,RxLogix Corporation,pharma | 201-500 employees | 14 years old | pr...,2.6,"Work Life Balance, Work Satisfaction, Company ...",NaN,72,799,15,9,13
9997,Avians Innovations Technology,building material | 51-200 employees | 17 year...,3.7,"Promotions / Appraisal, Work Satisfaction, Sal...",NaN,72,489,3,11,8
9998,ACPL Systems,law enforcement & security | 51-200 employees ...,3.3,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN,72,520,4,1,10
9999,Beroe Inc,management consulting | 201-500 employees | 19...,4.5,"Work Life Balance, Job Security, Company Culture",NaN,72,585,7,5,14

In [ ]:
#b. Write a function called `filter_missing_salary_data` to filter out rows where the average salary information is missing.
def filter_missing_salary_data(df):
    filtered_missing = df[df['Average_Salary'] != '--']
    return filtered_missing
filtered_missing = filter_missing_salary_data(df1)
filtered_missing

,Company_Name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_Reviews,Average_Salary,Interviews_taken,Total_Jobs_Available,Total_Benefits
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73.1k,856.9k,60.0,84700.0,11.5k
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46.4k,584.6k,40.0,9900.0,7.1k
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41.7k,561.5k,40.0,46000.0,5.8k
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39.2k,427.4k,40.0,40500.0,5k
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34k,414.4k,30.0,71900.0,4k
...,...,...,...,...,...,...,...,...,...,...
9995,Techila Global Services,IT Services & Consulting | 501-1k Employees | ...,3.7,"Work Life Balance, Salary & Benefits, Company ...",NaN,72,454,20.0,2600.0,21
9996,RxLogix Corporation,Pharma | 201-500 Employees | 14 years old | Pr...,2.6,"Work Life Balance, Work Satisfaction, Company ...",NaN,72,799,150.0,900.0,13
9997,Avians Innovations Technology,Building Material | 51-200 Employees | 17 year...,3.7,"Promotions / Appraisal, Work Satisfaction, Sal...",NaN,72,489,30.0,1100.0,8
9998,ACPL Systems,Law Enforcement & Security | 51-200 Employees ...,3.3,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN,72,520,40.0,100.0,10
9999,Beroe Inc,Management Consulting | 201-500 Employees | 19...,4.5,"Work Life Balance, Job Security, Company Culture",NaN,72,585,70.0,500.0,14

In [45]:
#c. Write a function called `handle_missing_data` to handle missing data by replacing values and removing duplicates. 
#The function should:
        #- Replace missing values in the "Total_benefits" column with the median value of the column.
        #- Remove any duplicate rows from the dataset based on the "Company_name" column.
        #- Replace any -- (NA) values in the "Highly_rated_for" and "Critically_rated_for" columns with the string "Not specified".
def handle_missing_data(df):
    median_value = df['Total_Benefits'].median()
    df['Total_Benefits'].fillna(median_value)
    df.drop_duplicates(subset='Company_Name')
    df['Highly_rated_for'].replace('--', 'Not specified')
    df['Critically_rated_for'].replace('--', 'Not specified')
    return df
modified_df = handle_missing_data(df1)
modified_df

,Company_Name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_Reviews,Average_Salary,Interviews_taken,Total_Jobs_Available,Total_Benefits
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73.1k,856900.0,6100.0,847.0,11500.0
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46.4k,584600.0,4300.0,9900.0,7100.0
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41.7k,561500.0,3600.0,460.0,5800.0
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39.2k,427400.0,3700.0,405.0,5000.0
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34k,414400.0,2800.0,719.0,4000.0
...,...,...,...,...,...,...,...,...,...,...
9995,Techila Global Services,IT Services & Consulting | 501-1k Employees | ...,3.7,"Work Life Balance, Salary & Benefits, Company ...",NaN,72,454.0,2.0,26.0,21.0
9996,RxLogix Corporation,Pharma | 201-500 Employees | 14 years old | Pr...,2.6,"Work Life Balance, Work Satisfaction, Company ...",NaN,72,799.0,15.0,9.0,13.0
9997,Avians Innovations Technology,Building Material | 51-200 Employees | 17 year...,3.7,"Promotions / Appraisal, Work Satisfaction, Sal...",NaN,72,489.0,3.0,11.0,8.0
9998,ACPL Systems,Law Enforcement & Security | 51-200 Employees ...,3.3,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN,72,520.0,4.0,1.0,10.0
9999,Beroe Inc,Management Consulting | 201-500 Employees | 19...,4.5,"Work Life Balance, Job Security, Company Culture",NaN,72,585.0,7.0,5.0,14.0

In [ ]:
#Remove any duplicate rows from the dataset based on the "Company_name" column.
Company_Name=handle_missing_data(df1['Company_Name'])
df1

,Company_Name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_Reviews,Average_Salary,Interviews_taken,Total_Jobs_Available,Total_Benefits,Benefits_Indicator
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73.1k,856.9k,60.0,84700.0,11500.0,1
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46.4k,584.6k,40.0,9900.0,7100.0,1
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41.7k,561.5k,40.0,46000.0,5800.0,1
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39.2k,427.4k,40.0,40500.0,5000.0,1
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34k,414.4k,30.0,71900.0,4000.0,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,Techila Global Services,IT Services & Consulting | 501-1k Employees | ...,3.7,"Work Life Balance, Salary & Benefits, Company ...",NaN,72,454,20.0,2600.0,21,1
9996,RxLogix Corporation,Pharma | 201-500 Employees | 14 years old | Pr...,2.6,"Work Life Balance, Work Satisfaction, Company ...",NaN,72,799,150.0,900.0,13,1
9997,Avians Innovations Technology,Building Material | 51-200 Employees | 17 year...,3.7,"Promotions / Appraisal, Work Satisfaction, Sal...",NaN,72,489,30.0,1100.0,8,1
9998,ACPL Systems,Law Enforcement & Security | 51-200 Employees ...,3.3,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN,72,520,40.0,100.0,10,1
9999,Beroe Inc,Management Consulting | 201-500 Employees | 19...,4.5,"Work Life Balance, Job Security, Company Culture",NaN,72,585,70.0,500.0,14,1

In [ ]:
#d. Write a Python function to create indicator variables representing whether a company offers any benefits or not.
def benefits_indicator(df, column_name):
    df['Benefits_Indicator'] = df[column_name] != '--'
    df['Benefits_Indicator'] = df['Benefits_Indicator'].astype(int)
    return df
modified_df1 = benefits_indicator(df1, 'Total_Benefits')
modified_df1

,Company_Name,Description,Ratings,Highly_rated_for,Critically_rated_for,Total_Reviews,Average_Salary,Interviews_taken,Total_Jobs_Available,Total_Benefits,Benefits_Indicator
0,TCS,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,"Job Security, Work Life Balance","Promotions / Appraisal, Salary & Benefits",73.1k,856.9k,60.0,84700.0,11500.0,1
1,Accenture,IT Services & Consulting | 1 Lakh+ Employees |...,4.0,"Company Culture, Skill Development / Learning,...",NaN,46.4k,584.6k,40.0,9900.0,7100.0,1
2,Cognizant,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,Skill Development / Learning,Promotions / Appraisal,41.7k,561.5k,40.0,46000.0,5800.0,1
3,Wipro,IT Services & Consulting | 1 Lakh+ Employees |...,3.8,Job Security,"Promotions / Appraisal, Salary & Benefits",39.2k,427.4k,40.0,40500.0,5000.0,1
4,Capgemini,IT Services & Consulting | 1 Lakh+ Employees |...,3.9,"Job Security, Work Life Balance, Skill Develop...","Promotions / Appraisal, Salary & Benefits",34k,414.4k,30.0,71900.0,4000.0,1
...,...,...,...,...,...,...,...,...,...,...,...
9995,Techila Global Services,IT Services & Consulting | 501-1k Employees | ...,3.7,"Work Life Balance, Salary & Benefits, Company ...",NaN,72,454,20.0,2600.0,21,1
9996,RxLogix Corporation,Pharma | 201-500 Employees | 14 years old | Pr...,2.6,"Work Life Balance, Work Satisfaction, Company ...",NaN,72,799,150.0,900.0,13,1
9997,Avians Innovations Technology,Building Material | 51-200 Employees | 17 year...,3.7,"Promotions / Appraisal, Work Satisfaction, Sal...",NaN,72,489,30.0,1100.0,8,1
9998,ACPL Systems,Law Enforcement & Security | 51-200 Employees ...,3.3,"Promotions / Appraisal, Salary & Benefits, Wor...",NaN,72,520,40.0,100.0,10,1
9999,Beroe Inc,Management Consulting | 201-500 Employees | 19...,4.5,"Work Life Balance, Job Security, Company Culture",NaN,72,585,70.0,500.0,14,1

This question took me quite awhile to do with the dificulty of handling and cleaning the data.

4. **Sampling and Randomness:**
    - Write a Python function to implement permutation-based sampling to select a 20 random sample of companies from the dataset.

In [ ]:
#Write a Python function to implement permutation-based sampling to select a 20 random sample of companies from the dataset.
def permutation_sampling(dataset, sample_size):
    companies = dataset["Company_Name"].tolist()
    sample = random.sample(companies, sample_size)
    return sample
sample_size = 20
random_sample = permutation_sampling(df1, sample_size)
for company in random_sample:
    print(company)

Rain Industries
Veritas Finance
Venus Industrial Corporation
Ebixcash Global Services
Hyundai Glovis
Biotique
Volksoft Technologies
Sundaram Finance
IIT Kharagpur
Carryfast group
Aashman Foundation
Omega Hospitals
Sulekha.com
Mansukh Securities & Finance
DigiCall Teleservices
Agiliad Technologies
Sakthi Finance
Mediamint
Zimmer Biomet
JMC Projects

Question 4 took me about 15 minutes to figure out the proper function setup for this problem. I'd say it was medium dificulty.