# Intro to Data Science - Homework 4 - Fall 2024 - Wilmington College
## Due Date: April 05, 2024, 11:30 AM (Before the Start of Our Class)

Dear Students,

Welcome to Homework 4 for the Intro to Data Science course.

**Submission Instructions:**
Please complete the homework and commit your changes to GitHub. 

Last part of each problem dedicated to this question: "How long did it take you to solve this question? Was it easy, medium, or hard for you? Feel free to share any comments you have."

**Alternative Submission:**
If, for any reason, you are unable to use GitHub, you can submit your work via email.

Remember, timely completion of assignments is crucial for your understanding of the course material. If you face any challenges, don't hesitate to reach out.

###  Replace Employee ID With The Unique Identifier

You are given two tables: Employees and EmployeeUNI. The Employees table contains information about employees in a company, including their ID and name. The EmployeeUNI table contains the unique IDs corresponding to each employee. Your task is to show the unique ID of each employee, replacing null for those who do not have a unique ID.

# Input Data

## Employees table:
| id | name     |
|----|----------|
| 1  | Alice    |
| 7  | Bob      |
| 11 | Meir     |
| 90 | Winston  |
| 3  | Jonathan |

## EmployeeUNI table:
| id | unique_id |
|----|-----------|
| 3  | 1         |
| 11 | 2         |
| 90 | 3         |

# Approach

1. Read the input data into pandas DataFrames.
2. Merge the Employees and EmployeeUNI DataFrames on the 'id' column using a left join.
3. Fill missing values in the 'unique_id' column with 'null'.
4. Display the result table.

In [4]:
import pandas as pd
employees_df = {
    "id":[1, 7, 11, 90, 3],
    "name": ["Alice", "Bob", "Meir", "Winston", "Jonathan"]}

employeesuni_df= {
    "id": [3, 11, 90],
    "unique_id": [1, 2, 3]}

In [8]:
employees_df

AttributeError: 'dict' object has no attribute 'df'

In [6]:
pd.merge(employees_df, employeesuni_df, on= "id", how= "left")

TypeError: Can only merge Series or DataFrame objects, a <class 'dict'> was passed

In [ ]:
result_df['unique_id']= result_df['unique_id']

In [ ]:
result_df

# 2. Product Sales Analysis I

Given the Sales and Product tables, you need to report the product_name, year, and price for each sale_id in the Sales table. Return the resulting table in any order.

Sales table:
| sale_id | product_id | year | quantity | price |
|---------|------------|------|----------|------- 
| 1       | 100        | 2008 | 10       | 5000  |
| 2       | 100        | 2009 | 12       | 5000  |
| 7       | 200        | 2011 | 15       | 9000  |

Product table:
| product_id | product_name |
------------|--------------
| 100        | Nokia        |
| 200        | Apple        |
| 300        | Samsung      |

Output: 

| product_name | year  | price |
|--------------|-------|-------|
| Nokia        | 2008  | 5000  |
| Nokia        | 2009  | 5000  |
| Apple        | 2011  | 9000  |


# Approach

1. Join the Sales and Product tables on the product_id column.
2. Select the product_name, year, and price columns from the joined table.
3. Return the resulting table.

# 3. Product Sales Analysis II

You are given two tables: `Sales` and `Product`.

Table: Sales

| Column Name | Type  |
|-------------|-------|
| sale_id     | int   |
| product_id  | int   |
| year        | int   |
| quantity    | int   |
| price       | int   |

- (sale_id, year) is the primary key (combination of columns with unique values) of this table.
- `product_id` is a foreign key (reference column) to the Product table.
- Each row of this table shows a sale on the product `product_id` in a certain year.
- Note that the price is per unit.

Table: Product

| Column Name  | Type    |
|--------------|---------|
| product_id   | int     |
| product_name | varchar |

- `product_id` is the primary key (column with unique values) of this table.
- Each row of this table indicates the product name of each product.

Write a solution to select the product id, year, quantity, and price for the first year of every product sold. Return the resulting table in any order.

**Example:**

**Input:**
Sales table:

| sale_id | product_id | year | quantity | price |
|---------|------------|------|----------|-------|
| 1       | 100        | 2008 | 10       | 5000  |
| 2       | 100        | 2009 | 12       | 5000  |
| 7       | 200        | 2011 | 15       | 9000  |

Product table:

| product_id | product_name |
|------------|--------------|
| 100        | Nokia        |
| 200        | Apple        |
| 300        | Samsung      |

**Output:**

| product_id | first_year | quantity | price |
|------------|------------|----------|-------|
| 100        | 2008       | 10       | 5000  |
| 200        | 2011       | 15       | 9000  |

# 4. Managers with at Least 5 Direct Reports

You are given a table, `Employee`, with the following structure and data:


| Column Name | Type    |
|-------------|---------
| id          | int     |
| name        | varchar |
| department  | varchar |
| managerId   | int     |


- `id` is the primary key for this table.
- Each row of this table represents an employee in the company. The `managerId` column contains the `id` of the employee's manager.
- If `managerId` is null, then the employee does not have a manager.
- No employee will be the manager of themself.

Write a Python code to find the names of managers who have at least five direct reports. Return the result table in any order.

**Example:**

**Input:**

Employee table:

| id  | name  | department | managerId |
-----|-------|------------|-----------
| 101 | John  | A          | null      |
| 102 | Dan   | A          | 101       |
| 103 | James | A          | 101       |
| 104 | Amy   | A          | 101       |
| 105 | Anne  | A          | 101       |
| 106 | Ron   | B          | 101       |


**Output:**


| name |
------
| John |


**Explanation:**

John is the only manager with at least five direct reports (Dan, James, Amy, Anne, and Ron).

# 5. From the dataset provided in HW3:

    a. Generate a histogram overlaid with a density plot for the ratings of the companies .
    b. Ensure to title your plot, label axes appropriately, and include a legend for clarity.
    c. Provide an interpretation of your plot.

**Interpretation**:
The histogram provides a visual representation of the distribution of company ratings, showcasing the frequency of ratings across the dataset. On the other hand, the density plot offers a smoothed representation of the probability density function of the ratings, providing insight into the likelihood of different ratings occurring.

From the plot, we can observe the distribution of ratings among the companies. We notice that the distribution is slightly skewed to the left, indicating that a larger proportion of companies have higher ratings compared to those with lower ratings. This skewness suggests that most companies in the dataset tend to receive positive ratings from users, although there are still variations in the ratings provided.

# 6. Using the provided dataset again, analyze the average salary across different industry sectors. Implement the following steps:

1. Group the data by industry sector (can be extracted from the Description) and calculate the mean salary for each sector.
2. Identify the top 10 and bottom 10 industry sectors based on average salary.
3. Concatenate the top and bottom sectors into a single DataFrame.
4. Visualize the top and bottom 10 average salaries by industry sector using a bar plot.

# 7. From the dataset provided in HW3:
Create a bar plot to display the top 10 companies based on their ratings.

# 8. From the dataset provided in HW3:
a. Following the analysis in question 2 part i, where outliers in the "Avg_salary" column were identified, now visualize them using a boxplot.
b. Create a boxplot for the "Avg_salary" column categorized by 5 samples of sectors.