# Intro to Data Science - Homework 5 - Fall 2024 - Wilmington College
## Due Date: April 26, 2024, 11:30 AM (Before the Start of Our Class)

Dear Students,

Welcome to Homework 5 for the Intro to Data Science course.

**Submission Instructions:**
Please complete the homework and commit your changes to GitHub. 

Last part of each problem dedicated to this question: "How long did it take you to solve this question? Was it easy, medium, or hard for you? Feel free to share any comments you have."

**Alternative Submission:**
If, for any reason, you are unable to use GitHub, you can submit your work via email.

Remember, timely completion of assignments is crucial for your understanding of the course material. If you face any challenges, don't hesitate to reach out.

## Exercise 1: Group Transformations
Consider a dataset containing information about students' exam scores across multiple subjects. The dataset is structured as follows:


    a. Write a function `normalize_scores` that takes a group as input and normalizes the scores within each subject to have a mean of 0 and a standard deviation of 1. Then, apply the `normalize_scores` function to the 'Score' column grouped by the 'Subject' column.
    b. Compute the ranks of students within each subject in ascending order using a custom function.

In [ ]:
import pandas as pd
import numpy as np

data = {
    'Student_ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Subject': ['Math', 'Math', 'Science', 'Science', 'English', 'English', 'Math', 'Science', 'English', 'Math'],
    'Score': [85, 90, 78, 82, 88, 92, 75, 80, 85, 88]
}

df = pd.DataFrame(data)
df

## Exercise 2: Pivot Tables
Consider a sales dataset containing information about products, sales amounts, and sales regions. The dataset is structured as follows:

    a) Create a pivot table that shows the total sales amount for each product in each region.
    b) Calculate the average sales amount for each product across all regions.
    c) Extend the pivot table to include the sum of sales amounts for each region.
    d) Compute the median sales amount for each product within each region.

In [6]:
data = {
    'Product': ['A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C'],
    'Region': ['North', 'North', 'North', 'South', 'South', 'South', 'East', 'East', 'East'],
    'Sales': [1000, 1200, 800, 900, 1100, 700, 950, 1250, 850]
}

df = pd.DataFrame(data)
df

  Product Region  Sales
0       A  North   1000
1       B  North   1200
2       C  North    800
3       A  South    900
4       B  South   1100
5       C  South    700
6       A   East    950
7       B   East   1250
8       C   East    850

## Exercise 3: Cross-Tabulation
Consider a survey dataset containing information about participants' age groups, gender, and favorite leisure activities. The dataset is structured as follows:

    a) Create a cross-tabulation showing the count of participants by age group and gender.
    b) Compute the percentage of participants by age group and favorite leisure activity.
    c) Extend the cross-tabulation to include the sum of participants by gender.
    d) Calculate the ratio of male to female participants within each age group.

In [10]:
data = {
    'Age_Group': ['18-25', '26-35', '36-45', '18-25', '26-35', '36-45'],
    'Gender': ['Male', 'Male', 'Female', 'Female', 'Male', 'Female'],
    'Activity': ['Reading', 'Sports', 'Music', 'Sports', 'Music', 'Reading']
}

df = pd.DataFrame(data)
df

  Age_Group  Gender Activity
0     18-25    Male  Reading
1     26-35    Male   Sports
2     36-45  Female    Music
3     18-25  Female   Sports
4     26-35    Male    Music
5     36-45  Female  Reading

## Exercise 4:

Consider the following time series data representing the daily temperature readings (in degrees Celsius) for a particular location:

1. **Calculate the following statistics for the temperature data:**
      - a. Mean temperature for the year.
      - b. Standard deviation of the temperature readings.
      - c. Maximum temperature and the date on which it occurred.
      - d. Minimum temperature and the date on which it occurred.

2. **Find the number of days where the temperature was above the yearly average.**

3. **Resample the data to a monthly frequency and calculate the following statistics for each month:**
      - a. Mean temperature.
      - b. Standard deviation of temperature.
      - c. Maximum temperature and the date on which it occurred.
      - d. Minimum temperature and the date on which it occurred.

4. **Plot the original daily temperature data and the resampled monthly mean temperature data on the same graph. Ensure appropriate labeling of the axes and a legend for clarity.**

In [21]:
# Generating a date range for the index
dates = pd.date_range('2023-01-01', periods=365, freq='D')

# Generating random numerical data for the time series
data = np.random.randn(len(dates))

# Creating a pandas Series with the generated data and using dates as index
time_series = pd.Series(data, index=dates)
time_series

2023-01-01    0.390157
2023-01-02    0.085615
2023-01-03   -3.114024
2023-01-04   -2.242359
2023-01-05    0.687576
                ...
2023-12-27    0.066585
2023-12-28   -0.323147
2023-12-29   -0.106329
2023-12-30   -0.228707
2023-12-31    0.666423
Freq: D, Length: 365, dtype: float64

## Exercise 5:

Suppose you have a dataset containing the temperature readings in Celsius for a specific location over a period of time. The dataset is indexed by timestamps representing the date and time of each reading.

1. **Time Zone Conversion**: Convert the timestamps in the dataset from the local time zone ('America/New_York') to UTC.
2. **Temperature Shifting**: Shift the temperature data by 1 hour backward.
4. **Resampling**: Resample the dataset to represent daily average temperatures.
5. **Visualization**: Plot the original temperature data against the resampled data to visualize the changes.

In [34]:
# Create sample data
np.random.seed(0)
dates = pd.date_range('2024-01-01', periods=100, freq='H')
temperatures = np.random.randint(-10, 30, size=(100,))
temperature_data = pd.Series(temperatures, index=dates)
temperature_data

2024-01-01 00:00:00   -10
2024-01-01 01:00:00    -7
2024-01-01 02:00:00    -7
2024-01-01 03:00:00    29
2024-01-01 04:00:00    -1
                       ..
2024-01-04 23:00:00    -7
2024-01-05 00:00:00    24
2024-01-05 01:00:00     3
2024-01-05 02:00:00    29
2024-01-05 03:00:00    11
Freq: H, Length: 100, dtype: int64

## Exercise 6: Resampling and Moving Window Functions

Consider the following time series data representing the daily stock prices of three companies: Apple (AAPL), Microsoft (MSFT), and ExxonMobil (XOM).

1. **Resampling**
    - a. Resample the data to a monthly frequency, taking the mean of each month's values.
    - b. Resample the data to a quarterly frequency, taking the sum of each quarter's values.
    - c. Resample the data to a weekly frequency, using forward filling to fill missing values.

2. **Moving Window Functions**
    - a. Calculate the 30-day rolling average for each company's stock price.
    - b. Calculate the 60-day rolling standard deviation for each company's stock price.
    - c. Plot the 50-day exponentially weighted moving average (EWMA) for the Apple stock price alongside its actual price.

In [42]:
# Generate sample data
np.random.seed(0)
dates = pd.date_range("2022-01-01", periods=500)
stock_prices = pd.DataFrame(
    {
        "AAPL": np.random.normal(150, 10, 500),
        "MSFT": np.random.normal(100, 5, 500),
        "XOM": np.random.normal(50, 2, 500),
    },
    index=dates,
)
stock_prices.head()

                  AAPL        MSFT        XOM
2022-01-01  167.640523  101.913662  51.111925
2022-01-02  154.001572   99.828789  51.784948
2022-01-03  159.787380  105.481734  49.155370
2022-01-04  172.408932   98.828921  50.209428
2022-01-05  168.675580   98.262747  50.456107

## Exercise 7: Modeling with Patsy Formulas

Consider a dataset containing information about students' performance in various subjects. The dataset includes the following columns:

- `Math_Score`: The score obtained by the student in the Math exam.
- `Science_Score`: The score obtained by the student in the Science exam.
- `English_Score`: The score obtained by the student in the English exam.
- `Gender`: The gender of the student (Male or Female).
- `School_Type`: The type of school attended by the student (Public or Private).

Your task is to perform the following modeling tasks using Patsy formulas:

1. **Feature Engineering**:
    - a. Create a new feature called `Total_Score` by summing up the scores obtained by the student in all subjects.
    - b. Create dummy variables for the `Gender` column.
    - c. Create dummy variables for the `School_Type` column.

2. **Modeling**:
    - a. Using the Patsy formula syntax, create a linear model to predict the `Total_Score` based on the scores obtained in individual subjects (`Math_Score`, `Science_Score`, `English_Score`), gender (`Gender`), and school type (`School_Type`).
    - b. Fit the model to the dataset and extract the coefficients associated with each predictor variable.
    - c. Interpret the coefficients obtained from the model in terms of how they contribute to the predicted total score.

In [52]:
# Sample data
data = pd.DataFrame({
    'Math_Score': [85, 90, 78, 65, 95],
    'Science_Score': [75, 85, 80, 70, 90],
    'English_Score': [80, 70, 85, 75, 95],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'School_Type': ['Public', 'Private', 'Public', 'Public', 'Private']
})
data

   Math_Score  Science_Score  English_Score  Gender School_Type
0          85             75             80    Male      Public
1          90             85             70  Female     Private
2          78             80             85    Male      Public
3          65             70             75  Female      Public
4          95             90             95    Male     Private